.textdiv {
  width: 40%;
  background-color: #D6DBDF;
  text-align: center;
  padding: 190px 20px 20px 20px;
}

.photodiv {
  width: 60%;
  align-content: center;
  height: 600px;
  padding: 60px 60px 60px 100px;
}

.myimg {
 
  height: 500px;
  width: 500px;
}

h1{
    font-family:SansSerif;
}

p{
    font-family: Candara;
}
