h4 {
  margin-top: 0;
  margin-bottom: 3px;
  font-weight: bold;
}

.total {
  font-size: 14px;
  font-weight: bold;
}

.mat-icon,
.description {
  color: green;
  font-size: 1em;
}

.mat-icon {
  position: relative;
  top: 3px;
}
